      @font-face {
          font-family: "SuisseIntl";
          src: url("css/fonts/SuisseIntl-Regular.otf");
      }

      .selected {
          fill: #afa2dc;
          stroke: #2f225d;
      }

      .area {
          clip-path: url(#clip);
      }

      .area {
          font-size: 12px;
          font-family: "SuisseIntl";
      }

      .brush.extent {
          stroke: #fff;
          fill-opacity: 0.125;
          shape-rendering: crispEdges;
      }

      .tooltip {
          position: absolute;
          text-align: left;
          font-family: "SuisseIntl";
          font-size: 12px;
          width: 80px;
          height: 52px;
          padding: 8px;
          background: white;
          pointer-events: none;
          background-color: white;
          line-height: 0.05em;
      }

      .overlay {
          fill: none;
          opacity: 0.2;
      }

      .blocktext {
          position: relative;
          display: flex;
          flex-direction: row;
          bottom: 40rem;
          margin-bottom: 1rem;
          ;
      }

      #my_dataviz {
          text-align: center;
      }

      .text {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          width: 350px;
      }

      .container {
          display: flex;
          justify-content: center;
          width: 100%;
      }

      .value {
          display: flex;
          justify-content: flex-end;
          width: 30%;
          padding-right: 2rem;
      }

      .statement {
          display: flex;
          justify-content: flex-start;
          width: 70%;
      }
     